<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixu.jie_you_ba.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.lixu.jie_you_ba.entity.Order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="delivery_cost" property="deliveryCost" jdbcType="REAL" />
    <result column="total_cost" property="totalCost" jdbcType="REAL" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="pay_cost" property="payCost" jdbcType="REAL" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="order_name" property="orderName" jdbcType="VARCHAR" />
    <result column="order_phone" property="orderPhone" jdbcType="VARCHAR" />
    <result column="order_address" property="orderAddress" jdbcType="VARCHAR" />
    <result column="delivery_name" property="deliveryName" jdbcType="VARCHAR" />
    <result column="delivery_phone" property="deliveryPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, store_id, delivery_cost, total_cost, coupon_id, pay_cost, pay_type, 
    remark, order_name, order_phone, order_address, delivery_name, delivery_phone, status, 
    create_person, create_time, update_person, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lixu.jie_you_ba.entity.Order" >
    insert into user_order (id, user_id, store_id, 
      delivery_cost, total_cost, coupon_id, 
      pay_cost, pay_type, remark, 
      order_name, order_phone, order_address, 
      delivery_name, delivery_phone, status, 
      create_person, create_time, update_person, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{storeId,jdbcType=BIGINT}, 
      #{deliveryCost,jdbcType=REAL}, #{totalCost,jdbcType=REAL}, #{couponId,jdbcType=BIGINT}, 
      #{payCost,jdbcType=REAL}, #{payType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{orderName,jdbcType=VARCHAR}, #{orderPhone,jdbcType=VARCHAR}, #{orderAddress,jdbcType=VARCHAR}, 
      #{deliveryName,jdbcType=VARCHAR}, #{deliveryPhone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createPerson,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lixu.jie_you_ba.entity.Order" >
    insert into user_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="deliveryCost != null" >
        delivery_cost,
      </if>
      <if test="totalCost != null" >
        total_cost,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="payCost != null" >
        pay_cost,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderName != null" >
        order_name,
      </if>
      <if test="orderPhone != null" >
        order_phone,
      </if>
      <if test="orderAddress != null" >
        order_address,
      </if>
      <if test="deliveryName != null" >
        delivery_name,
      </if>
      <if test="deliveryPhone != null" >
        delivery_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryCost != null" >
        #{deliveryCost,jdbcType=REAL},
      </if>
      <if test="totalCost != null" >
        #{totalCost,jdbcType=REAL},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="payCost != null" >
        #{payCost,jdbcType=REAL},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryName != null" >
        #{deliveryName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null" >
        #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixu.jie_you_ba.entity.Order" >
    update user_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryCost != null" >
        delivery_cost = #{deliveryCost,jdbcType=REAL},
      </if>
      <if test="totalCost != null" >
        total_cost = #{totalCost,jdbcType=REAL},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="payCost != null" >
        pay_cost = #{payCost,jdbcType=REAL},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        order_phone = #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryName != null" >
        delivery_name = #{deliveryName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null" >
        delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixu.jie_you_ba.entity.Order" >
    update user_order
    set user_id = #{userId,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      delivery_cost = #{deliveryCost,jdbcType=REAL},
      total_cost = #{totalCost,jdbcType=REAL},
      coupon_id = #{couponId,jdbcType=BIGINT},
      pay_cost = #{payCost,jdbcType=REAL},
      pay_type = #{payType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR},
      order_phone = #{orderPhone,jdbcType=VARCHAR},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      delivery_name = #{deliveryName,jdbcType=VARCHAR},
      delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>